.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #c8c8c8;
}

#tableView {
    -fx-font-size: 20;
}

#helpHeaderLabel {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

#helpBodyLabel {
    -fx-font-size: 20;
    -fx-wrap-text: true;
}

#helpVBox {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-insets: 10;
    -fx-padding: 10;
}

#filterButton {
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-background-image: url(filter_icon.png);
    -fx-cursor: hand;
}

#filterVBox {
    -fx-pref-width: 50;
    -fx-alignment: TOP_CENTER;
}

.toggle-button {
    -fx-pref-height: 40;
    -fx-pref-width: 40;
    -fx-cursor: hand;
    -fx-border-color: green;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    /* -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; */
}

#directoryToggleButton1 {
    -fx-background-image: url(acorn_icon.png);
}
#directoryToggleButton2 {
    -fx-background-image: url(acorn6_icon.png);
}
#directoryToggleButton3 {
    -fx-background-image: url(hickory_icon.png);
}
#directoryToggleButton4 {
    -fx-background-image: url(oak_icon.png);
}
#directoryToggleButton5 {
    -fx-background-image: url(allin1dc_icon.png);
}
#directoryToggleButton6 {
    -fx-background-image: url(laser_icon.png);
}
#directoryToggleButton7 {
    -fx-background-image: url(lathe_icon.png);
}
#directoryToggleButton8 {
    -fx-background-image: url(mill_icon.png);
}
#directoryToggleButton9 {
    -fx-background-image: url(plasma_icon.png);
}
#directoryToggleButton10 {
    -fx-background-image: url(router_icon.png);
}

#toolTip {
    -fx-effect: none;
    -fx-font-size: 12;
    -fx-opacity: 0.9;
    -fx-padding: 3;
    -fx-text-alignment: CENTER;
}