.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
}

#tableView {
    -fx-font-size: 20;
}

#helpHeaderLabel {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

#helpBodyLabel {
    -fx-font-size: 20;
    -fx-wrap-text: true;
}

#helpVBox {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-insets: 10;
    -fx-padding: 10;
}